.a-button {
  display: inline-flex;         // 盒模型，弹性布局
  align-items: center;          // 子元素垂直居中
  justify-content: center;      // 子元素水平居中
  height: 32px;                 // 高度
  min-width: 80px;              // 最小宽度
  padding: 0 16px;              // 内边距为16px
  background-color: #fff;     // 默认白色背景
  border-radius: 12px;           // 圆角
  border: 2px solid #e3e5f1;  // 1像素，实线边框
  box-sizing: border-box;       // 忽略padding和border的计算
  line-height: 1;               // 根据该元素本身的字体大小设置行高
  color: #4e5158;             // 文字颜色
  font-size: 14px;              // 字体大小
  text-align: center;           // 文字居中
  white-space:nowrap;           // 不换行
  transition: .3s;              // 300毫秒过滤 
  outline: none;                // 去除外轮廓
  cursor: pointer;              // 鼠标指针变为“手”
  user-select: none;            // 禁止选中文本内容
  vertical-align: middle;       // 当前元素的垂直中心点和父元素的基线往上
  span {
    line-height: 1;             // 根据该元素本身的字体大小设置行高
    display: inline-flex;       // 盒模型，弹性布局
    align-items: center;        // 子元素垂直居中
  }
  + .a-button { margin-left: 16px; }
  // 圆形按钮
  &.is-round { border-radius: 100px; }
  &.is-text {
    background-color: transparent;
    border-color: transparent;
  }
  &.is-link {
    &, &:hover {
      padding: 0;
      height: auto;
      min-width: auto;
      background-color: transparent;
      border-color: transparent;
      text-decoration: underline;
    }
  }
  &.is-border {
    &, &:hover {
      background-color: transparent;
    }
  }
  &.is-dashed {
    border-style: dashed;
  }
  &.is-block {
    display: block;  // 块级元素
    width: 100%;     // 宽度100%，适应于父元素宽度
    margin-left: 0;  // 左边边距为0
  }
  &.a-button--size_small {
    height: 24px;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 12px;
    min-width: auto;
    &.is-circle {
      width: 24px;
    }
    .a-icon { font-size: 12px; }
    &.is-button-group {
      &:first-child { border-radius: 10px 0 0 10px; }
      &:last-child { border-radius: 0 10px 10px 0; }
    }
  }
  &.a-button--size_default {
    &.is-circle {
      width: 32px;
    }
    .a-icon { font-size: 14px; }
  }
  &.a-button--size_large {
    height: 40px;
    font-size: 16px;
    &.is-circle {
      width: 40px;
    }
    .a-icon { font-size: 16px; }
  }
  &.is-circle { 
    border-radius: 100px;
    padding: 0;
    min-width: auto;
  }
  &.is-button-group {
    border-radius: 0;
    + .is-button-group { margin-left: -2px; }
    &:first-child { border-radius: 12px 0 0 12px; }
    &:last-child { border-radius: 0 12px 12px 0; }
  }
}
// 默认
.a-button--default {
  background-color: #fff;
  border-color: #e3e5f1;
  color: #4d5059;
  &:hover {
    background-color: #f5f6fa;
  }
  &.is-disabled, &.is-loading {
    color: #b4b5b8;
    cursor: not-allowed;
    &, &:hover, &:focus {
      border-color: #f0f2f8;
    }
  }
  &.is-text {
    &:hover {
      background-color: #eeeeee;
      border-color: #eeeeee;
    }
  }
  &.is-link {
    color: #4d5059;
    &:hover {
      color: #767a87;
    }
  }
}
// 主要
.a-button--primary {
  background-color: #3069ff;
  border-color: #3069ff;
  color: #fff;
  &:hover {
    background-color: #6e96ff;
    border-color: #6e96ff;
  }
  &.is-disabled, &.is-loading {
    cursor: not-allowed;
    &, &:hover, &:focus {
      background-color: #97b4ff;
      border-color: #97b4ff;
    }
  }
  &.is-text {
    color: #3069ff;
    &:hover {
      background-color: #eaf0ff;
      border-color: #eaf0ff;
    }
  }
  &.is-link {
    color: #3069ff;
    &:hover {
      color: #6e96ff;
    }
  }
  &.is-border {
    &, &:hover {
      color: #3069ff;
    }
  }
}
// 成功
.a-button--success {
  background-color: #14cd70;
  border-color: #14cd70;
  color: #fff;
  &:hover {
    background-color: #5adc9b;
    border-color: #5adc9b;
  }
  &.is-disabled, &.is-loading {
    cursor: not-allowed;
    &, &:hover, &:focus {
      background-color: #89e6b7;
      border-color: #89e6b7;
    }
  }
  &.is-text {
    color: #5adc9b;
    &:hover {
      background-color: #e7faf0;
      border-color: #e7faf0;
    }
  }
  &.is-link {
    color: #14cd70;
    &:hover {
      color: #5adc9b;
    }
  }
  &.is-border {
    &, &:hover {
      color: #14cd70;
    }
  }
}
// 警告
.a-button--warning {
  background-color: #ffa81a;
  border-color: #ffa81a;
  color: #fff;
  &:hover {
    background-color: #ffc25e;
    border-color: #ffc25e;
  }
  &.is-disabled, &.is-loading {
    cursor: not-allowed;
    &, &:hover, &:focus {
      background-color: #ffd38c;
      border-color: #ffd38c;
    }
  }
  &.is-text {
    color: #ffa81a;
    &:hover {
      background-color: #fff6e8;
      border-color: #fff6e8;
    }
  }
  &.is-link {
    color: #ffa81a;
    &:hover {
      color: #ffc25e;
    }
  }
  &.is-border {
    &, &:hover {
      color: #ffa81a;
    }
  }
}
// 错误
.a-button--error {
  background-color: #ff4a5b;
  border-color: #ff4a5b;
  color: #fff;
  &:hover {
    background-color: #ff808c;
    border-color: #ff808c;
  }
  &.is-disabled, &.is-loading {
    cursor: not-allowed;
    &, &:hover, &:focus {
      background-color: #ffa4ad;
      border-color: #ffa4ad;
    }
  }
  &.is-text {
    color: #ff4a5b;
    &:hover {
      background-color: #ffedee;
      border-color: #ffedee;
    }
  }
  &.is-link {
    color: #ff4a5b;
    &:hover {
      color: #ff808c;
    }
  }
  &.is-border {
    &, &:hover {
      color: #ff4a5b;
    }
  }
}
.a-icon + span { margin-left: 4px; }